// theme colour pallette
$primary-color: #3C3C3C;
$secondary-color: #2C9585;
$secondary-color-light: #555;
$secondary-color-lightest: #bbb;

// theme font pallette
$primary-font-color: white;
$secondary-font-color: #3C3C3C;
