<div class="homeContainer">

<h1 class="home">Welcome to CS:Desk</h1>

<h2 class="intro"> CS:Desk is the ultimate customer support software.</h2>

<br>
<%= link_to "sign_up", new_user_session_path %>

<br>
<hr>
<br>

<h2 class="youCan"> With CS:Desk, you can... </h2>
<ul>&#x2661 Stream Line</ul>
<ul>&#x2661 Collaborate</ul>
<ul>&#x2661 Check positive and negative scores</ul>
<ul>And lots lots more...</ul>

<br>
<hr>
<br>

<h2 class="tryUs"> Try us. You will love the experience.</h2>

<br>

<!-- <button class="homeSignUpNow" type="button" name="SignUp" href="signup"></button> -->
<%= link_to "sign_up", new_user_session_path %>

<br>
<hr>
<footer class="homeFooter">Made with &#x2661 by Katrina Frost</footer>
</div>
</div>
