<div class="row">
  <div class="col-xs-12">
    <!-- Single button -->
    <div class="btn-group sort">
      <button type="button" class="btn btn-default">Date</button>
      <button type="button" class="btn btn-default">Mood</button>
      <button type="button" class="btn btn-default">Type</button>
    </div>
    <div class="btn-group modify pull-right">
      <button type="button" class="btn btn-default" data-toggle="modal" data-target="#mynewticket">Create New +</button>
      <!-- Nice to do if I have time -->
      <!-- <button type="button" class="btn btn-default">Closes</button>
      <button type="button" class="btn btn-default">Reallocate</button> -->
    </div>
  </div>
</div>
