<div class="customerFormHeader">
  <h1>We would love to hear from you...</h1>
</div>

<div class="customerForm">
  <%= render 'tickets/form', ticket: @ticket %>
  <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
</div>
